<div class="mt-4">
  <div class="site-body" [innerHTML]="results?.blog.body"></div>
</div>
<hr />
<div class="mt-4">
  <div class="row">
    <div class="col-6">
      <ng-container *ngIf="results?.pre_page.status == 0; else elseTemplate2">
        <p>{{ results?.pre_page.title }}</p>
      </ng-container>
      <ng-template #elseTemplate2>
        <a [routerLink]="['/blog', results?.pre_page.slug]"
          >Pre: {{ results?.pre_page.title }}</a
        >
      </ng-template>
    </div>
    <div class="col-6 text-right">
      <ng-container *ngIf="results?.next_page.status == 0; else elseTemplate">
        <p>{{ results?.next_page.title }}</p>
      </ng-container>
      <ng-template #elseTemplate>
        <a [routerLink]="['/blog', results?.next_page.slug]"
          >Next: {{ results?.next_page.title }}</a
        >
      </ng-template>
    </div>
  </div>
</div>
