<main id="site-layout">
  <app-header id="header"></app-header>
  <div id="container" class="container mt-5">
    <router-outlet></router-outlet>
  </div>
  <app-footer id="footer"></app-footer>
</main>

<button (click)="display = true" class="site-menu" type="button" name="button">
  <i class="fa fa-bars" aria-hidden="true"></i>
  <span class="site-sidebar-text">Menu</span>
</button>
<!-- <p-sidebar [(visible)]="display" position="bottom">
  <h1 style="font-weight: normal;">Left Sidebar</h1>
</p-sidebar> -->
<app-sidebar-left [display]="display"></app-sidebar-left>
<app-sidebar-top [display]="display"></app-sidebar-top>
<app-sidebar-right [display]="display"></app-sidebar-right>
<app-sidebar-bottom [display]="display"></app-sidebar-bottom>
<div (click)="display = false" [class.active]="display" class="site-mask"></div>
