/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap-reboot.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~bootstrap/dist/css/bootstrap-grid.css";
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
#site-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#header {
  flex: 0 0 auto;
}
#container {
  flex: 1 0 auto;
}
#footer {
  flex: 0 0 auto;
}
a:hover {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
